.head-logo a{
    text-decoration: none; 
    color: inherit; 
    background-color: inherit;
}
nav{
    margin-top: 10px;
    margin-left: 22%;
}
.nav-link{
    border-radius: 50px;
    width: 250px;
    margin-bottom: 5px;
    height: 150%;
}
.nav-link:hover{
    background-color:   rgb(222, 221, 221);
}
.nav-link:active{
    background-color: rgb(193, 188, 188);
}
.nav-link div{
    display: flex;
    align-items: center;
    height: 30px;
}
.nav-svg{
    fill: gray;
    margin-left: 15px;
}
.nav-txt{
    color: gray;
    height: 100%;
    font-size: 120%;
    margin-left: 10%;
}
.btn-snap{
    width: 80%;
    border-radius: 50px;
    background-color: #fcbb1f;
}