.snap-box {
    display: flex;
}
.profile-section{
    margin-left: 20px;
    margin-top: 20px;
}
.profile-section img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.main-section {
    width: 100%;
    margin: 20px;
}
.textarea-container {
    position: relative;
    margin-bottom: 15px;
}
.textarea-container textarea {
    width: 100%;
    height: 80px;
    resize: none;
    border: none;
    outline: none;
    padding: 10px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -7px auto;
}
.icons i{
    color:brown;
    margin-right: 3px;
    font-size: 25px;
}
.count, .button {
    display: flex;
    align-items: center;
}
.snap-button {
    width: 70px;
    height: 30px;
    background-color: #1da1f2;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}