.suggested-container{
    margin-top: 10px;
    width: 80%;
    border-radius: 28px;
    border: 1px solid rgb(238, 238, 238);
    position: relative;
    background: rgb(238, 238, 238);
}
.suggested-header{
    margin-left: 17px;
    font-weight: bold;
}
.suggestions{
    width: 110%;
    margin-top: 11px;
}
.suggestion{
    width: 100%;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.suggestion-image img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.suggestion-body{
    margin-left: 7px;
    width: 100%;
    overflow: hidden;
}

.suggestion-body div{
    margin-top: -5px;
}

.suggestion-follow button {
    height: 30%;
    background-color: #3498db;
    color: white;
    border: 1px solid #2980b9;
    padding: 8px 16px;
    border-radius: 30px;
    cursor: pointer;
}

.suggestion-follow button:hover {
    background-color: #2980b9;
}