<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../assets/css/suggested.css">
</head>

<body>

    <div class="suggested-container">

        <h5 class="suggested-header">Suggested for you</h5>
        <div class="suggestions">

            <div class="suggestion">
                <div class="suggestion-image">
                    <img src="assets/images/snaper-logo.jpg" alt="Profile Image">
                </div>
                <div class="suggestion-body">
                    <div>Umid</div>
                    <div>@umiidi</div>
                </div>
                <div class="suggestion-follow">
                    <button class="follow-button">Follow</button>
                </div>
            </div>

            <div class="suggestion">
                <div class="suggestion-image">
                    <img src="assets/images/snaper-logo.jpg" alt="Profile Image">
                </div>
                <div class="suggestion-body">
                    <div>Snaper</div>
                    <div>@snaper</div>
                </div>
                <div class="suggestion-follow">
                    <button class="follow-button">Follow</button>
                </div>
            </div>

            <div class="suggestion">
                <div class="suggestion-image">
                    <img src="assets/images/snaper-logo.jpg" alt="Profile Image">
                </div>
                <div class="suggestion-body">
                    <div>Qarışqa</div>
                    <div>@qarishqa</div>
                </div>
                <div class="suggestion-follow">
                    <button class="follow-button">Follow</button>
                </div>
            </div>

            <div class="suggestion">
                <div class="suggestion-image">
                    <img src="assets/images/snaper-logo.jpg" alt="Profile Image">
                </div>
                <div class="suggestion-body">
                    <div>Akula</div>
                    <div>@akula</div>
                </div>
                <div class="suggestion-follow">
                    <button class="follow-button">Follow</button>
                </div>
            </div>

            <div class="suggestion">
                <div class="suggestion-image">
                    <img src="assets/images/snaper-logo.jpg" alt="Profile Image">
                </div>
                <div class="suggestion-body">
                    <div>Kərtənkələ</div>
                    <div>@kertenkele</div>
                </div>
                <div class="suggestion-follow">
                    <button class="follow-button">Follow</button>
                </div>
            </div>

        </div>

    </div>

</body>

</html>